body {
    background-color: #364F6B; 
    opacity:0.75;
}

hr  {
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 10%;
    border-color: rgb(196, 122, 13);
}

div {
    background-color: rgb(66, 137, 230);
    border-style: none;
    border-bottom-style: double;
    height: 50px;
    border-bottom-color:cadetblue;
}